<?xml version="1.0"?>
<model>
  <name>Maestro plot markers</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>AgroTurtles</name>
  </author>
  <description>Three nearby vertical markers containing the plot-01, plot-02 and plot-03 QR codes.</description>
</model>
